<div class="ui grid">
  <div class="row">

    <div class="ui one column centered page grid">
      <div class="eight wide column">
        <h3 class="ui top attached header">
          DIY Smart Home
        </h3>

        <div class="ui attached segment">
          <div ng-controller="LoginCtrl as loginCtrl" class="ui form">
            <div class="ui error message">
              <div class="header">Error!</div>
              <p>{{loginCtrl.errorMsg}}</p>
            </div>

            <div class="required field">
              <label>Nickname:</label>
              <div class="ui icon input">
                <input placeholder="Nickname" ng-model="loginCtrl.user.profile.name" name="nickname" type="text"/>
                <i class="user icon"></i>
              </div>
            </div>

            <button class="ui labeled icon primary button" ng-click="loginCtrl.createAnonymousUser()">
              <i class="icon user"></i>
              Enter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
